.ucomm-event.ucomm-event-container {
  display: flex;
  flex-wrap: wrap;
  margin: 22px -16px;
  padding: 16px;
}

.ucomm-event-detail-container {
  display: flex;
  flex: 4 1 250px;
  flex-wrap: wrap;
  > div {
    @media screen and (min-width: 480px) {
      padding: 0 16px;
    }
  }
}

.ucomm-event-description-container {
  flex-basis: 100%;
}

.ucomm-event-link-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}