%ucomm-event-wrapper {
  background-color: $uconnBlue;
  color: $white;
  display: flex;
}

%ucomm-event-date-container {
  text-align: center;
  min-width: 100px;
  p {
    font-size: 16px;
    margin: 0;
    padding: 8px;
    position: relative;
  }
  abbr {
    border-bottom: none !important;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.single-ucomm-event {
  .ucomm-event-date-wrapper {
    @extend %ucomm-event-wrapper;
    max-inline-size: fit-content;
  }
  .ucomm-event-date-container {
    @extend %ucomm-event-date-container;
    .ucomm-event-end-date:before {
      content: ' ';
      border: 1px solid $white;
      height: 2px;
      left: -8px;
      position: absolute;
      top: 18px;
      width: 16px;
    }
  }
}

.tax-event-location,
.post-type-archive-ucomm-event {
  .ucomm-event-date-wrapper {
    @extend %ucomm-event-wrapper;
    @media screen and (min-width: 480px) {
      flex-basis: 150px;
      flex-direction: column;
      justify-content: center;
    }
    .ucomm-event-date-container {
      @extend %ucomm-event-date-container;
      .ucomm-event-end-date:before {
        content: ' ';
        border: 1px solid $white;
        height: 2px;
        left: -8px;
        position: absolute;
        top: 20px;
        width: 16px;
        @media screen and (min-width: 480px) {
          left: 66px;
          position: absolute;
          top: 0;
        }
      }
    }
  }
}