#events-search {
  input,
  select {
    background-color: $mediumGrey;
    border: 1px solid $mediumGrey;
    border-radius: 0;
    color: $darkBlue;
    padding: 4px 8px;
  }
  select {
    height: 32px;
  }
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    background-color: $white;
    border: 1px solid $darkBlue;
  }
  .events-form-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .events-input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 16px;
    margin-right: 16px;
  }
}