.single-ucomm-event {
  .ucomm-event {
    section + section {
      margin-top: 16px;
    }
  }
}

.event-content-wrapper {
  display: flex;
  flex-direction: column;
  > div {
    flex: 1 1 0;
  }
  .featured-image-container {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 480px) {
    flex-direction: row-reverse;
    .content-container {
      padding-right: 32px;
    }
  }
}