.ucomm-event {
  .ucomm-event-link {
    border: 1px solid $darkBlue;
    color: $darkBlue;
    padding: 8px;
    &:hover,
    &:focus {
      background-color: $darkBlue;
      color: $white;
      text-decoration: none;
    }
  }
  a[rel="tag"] {
    color: $uconnRed;
    text-transform: uppercase;
    &:hover,
    &:focus {
      color: $uconnBlue;
    }
  }
}

.pagination-wrapper {
  a {
    background-color: $uconnBlue;
    border: 1px solid $uconnBlue;
    color: $white;
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 4px;
    text-align: center;
    text-transform: uppercase;
    width: 100px;
    &:hover,
    &:focus {
      background-color: $white;
      color: $uconnBlue;
      text-decoration: none;
    }
  }
}