.ucomm-event .ucomm-event-link {
  border: 1px solid #000e2f;
  color: #000e2f;
  padding: 8px;
}
.ucomm-event .ucomm-event-link:hover, .ucomm-event .ucomm-event-link:focus {
  background-color: #000e2f;
  color: #ffffff;
  text-decoration: none;
}
.ucomm-event a[rel=tag] {
  color: #9A1717;
  text-transform: uppercase;
}
.ucomm-event a[rel=tag]:hover, .ucomm-event a[rel=tag]:focus {
  color: #0B2A67;
}

.pagination-wrapper a {
  background-color: #0B2A67;
  border: 1px solid #0B2A67;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 8px;
  padding: 4px;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
}
.pagination-wrapper a:hover, .pagination-wrapper a:focus {
  background-color: #ffffff;
  color: #0B2A67;
  text-decoration: none;
}

#events-search input,
#events-search select {
  background-color: #d7d7d7;
  border: 1px solid #d7d7d7;
  border-radius: 0;
  color: #000e2f;
  padding: 4px 8px;
}
#events-search select {
  height: 32px;
}
#events-search input[type=submit]:hover,
#events-search input[type=submit]:focus {
  background-color: #ffffff;
  border: 1px solid #000e2f;
}
#events-search .events-form-wrapper {
  display: flex;
  flex-wrap: wrap;
}
#events-search .events-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 16px;
  margin-right: 16px;
}

.tax-event-location .ucomm-event-date-wrapper,
.post-type-archive-ucomm-event .ucomm-event-date-wrapper, .single-ucomm-event .ucomm-event-date-wrapper {
  background-color: #0B2A67;
  color: #ffffff;
  display: flex;
}

.tax-event-location .ucomm-event-date-wrapper .ucomm-event-date-container,
.post-type-archive-ucomm-event .ucomm-event-date-wrapper .ucomm-event-date-container, .single-ucomm-event .ucomm-event-date-container {
  text-align: center;
  min-width: 100px;
}
.tax-event-location .ucomm-event-date-wrapper .ucomm-event-date-container p,
.post-type-archive-ucomm-event .ucomm-event-date-wrapper .ucomm-event-date-container p, .single-ucomm-event .ucomm-event-date-container p {
  font-size: 16px;
  margin: 0;
  padding: 8px;
  position: relative;
}
.tax-event-location .ucomm-event-date-wrapper .ucomm-event-date-container abbr,
.post-type-archive-ucomm-event .ucomm-event-date-wrapper .ucomm-event-date-container abbr, .single-ucomm-event .ucomm-event-date-container abbr {
  border-bottom: none !important;
  text-decoration: none;
  text-transform: uppercase;
}

.single-ucomm-event .ucomm-event-date-wrapper {
  max-inline-size: fit-content;
}
.single-ucomm-event .ucomm-event-date-container .ucomm-event-end-date:before {
  content: " ";
  border: 1px solid #ffffff;
  height: 2px;
  left: -8px;
  position: absolute;
  top: 18px;
  width: 16px;
}

@media screen and (min-width: 480px) {
  .tax-event-location .ucomm-event-date-wrapper,
.post-type-archive-ucomm-event .ucomm-event-date-wrapper {
    flex-basis: 150px;
    flex-direction: column;
    justify-content: center;
  }
}
.tax-event-location .ucomm-event-date-wrapper .ucomm-event-date-container .ucomm-event-end-date:before,
.post-type-archive-ucomm-event .ucomm-event-date-wrapper .ucomm-event-date-container .ucomm-event-end-date:before {
  content: " ";
  border: 1px solid #ffffff;
  height: 2px;
  left: -8px;
  position: absolute;
  top: 20px;
  width: 16px;
}
@media screen and (min-width: 480px) {
  .tax-event-location .ucomm-event-date-wrapper .ucomm-event-date-container .ucomm-event-end-date:before,
.post-type-archive-ucomm-event .ucomm-event-date-wrapper .ucomm-event-date-container .ucomm-event-end-date:before {
    left: 66px;
    position: absolute;
    top: 0;
  }
}

.ucomm-event.ucomm-event-container {
  display: flex;
  flex-wrap: wrap;
  margin: 22px -16px;
  padding: 16px;
}

.ucomm-event-detail-container {
  display: flex;
  flex: 4 1 250px;
  flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .ucomm-event-detail-container > div {
    padding: 0 16px;
  }
}

.ucomm-event-description-container {
  flex-basis: 100%;
}

.ucomm-event-link-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.single-ucomm-event .ucomm-event section + section {
  margin-top: 16px;
}

.event-content-wrapper {
  display: flex;
  flex-direction: column;
}
.event-content-wrapper > div {
  flex: 1 1 0;
}
.event-content-wrapper .featured-image-container {
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .event-content-wrapper {
    flex-direction: row-reverse;
  }
  .event-content-wrapper .content-container {
    padding-right: 32px;
  }
}

.pagination-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media screen and (min-width: 480px) {
  .pagination-wrapper {
    justify-content: flex-end;
  }
}
